spring:
  application:
    name:
      coffee-shout
  datasource:
    url: ${MYSQL_URL}
    username: ${MYSQL_USERNAME}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  lifecycle:
    timeout-per-shutdown-phase: 5m
  data:
    redis:
      port: 6379
      ssl:
        enabled: false
      host: localhost

redis:
  stream:
    # 공통 기본 설정 (각 스트림에서 오버라이드 가능)
    common-settings:
      max-length: 100
      batch-size: 10
      poll-timeout: 2s

    # 공유 스레드풀
    thread-pools:
#      sequential: # 단일 스레드풀은 여러 리스너에서 공유 불가능
#        core-size: 1
#        max-size: 1
#        queue-capacity: 100
      concurrent:
        core-size: 4
        max-size: 8
        queue-capacity: 100

    # 스트림 설정 (key가 식별자)
    keys:
      "[room:broadcast]":
        thread-pool:
          core-size: 1
          max-size: 1
          queue-capacity: 100
      "[cardGame:select:broadcast]":
        thread-pool:
          core-size: 1
          max-size: 1
          queue-capacity: 100
      "[minigame:events]":
        thread-pool-name: concurrent
      "[racinggame:events]":
        thread-pool-name: concurrent

oracle:
  cloud:
    objectstorage:
      region: ap-chuncheon-1
      namespace: ax9wq4bhn4cn
      bucket: zzol-public

room:
  removalDelay: 1h
  qr:
    width: 150
    height: 150
    presignedUrl:
      expirationHours: 1
    storage-key-prefix: qr-code
  event:
    timeout: 5s

logging:
  level:
    root: info
    io.opentelemetry.exporter.logging.LoggingSpanExporter: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level [%X{traceId:-},%X{spanId:-}] %logger{36} - %msg%n"

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: "health,info,metrics,prometheus,tracing"
  tracing:
    enabled: true
    sampling:
      probability: ${TRACE_SAMPLING_PROBABILITY}
  otlp:
    tracing:
      endpoint: ${TEMPO_URL}
  metrics:
    enable:
      tomcat: true

  prometheus:
    metrics:
      export:
        enabled: true
server:
  shutdown: graceful
  tomcat:
    threads:
      max: 200
      min-spare: 30
    max-connections: 700
    accept-count: 300

websocket:
  docs:
    enabled: true
    base-package: "coffeeshout"
    app-path: "/app"
    topic-path: "/topic"
    server-url: "http://localhost:8080/ws"
    info:
      title: "커피빵 WebSocket API 명세서"
      version: "1.0.0"
      description: "실시간 웹소켓 통신 API 문서"

menu-category:
  default-image: "https://d35bef0h3hdfkh.cloudfront.net/custom-menu.svg"
