name: Backend Deploy

on:
  push:
    branches:
      - be/dev
      - be/prod
      - be/feat/997-github-cd-migration
    paths:
      - "backend/**"
      - ".github/workflows/backend-deploy.yml"

  workflow_dispatch:
    inputs:
      environment:
        description: 'Deploy environment'
        required: true
        type: choice
        options:
          - dev
          - prod

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'corretto'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build JAR
        run: ./gradlew bootJar

      - name: Set deployment environment
        id: set-env
        run: |
          # if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
          #   echo "PROFILE=${{ github.event.inputs.environment }}" >> $GITHUB_ENV
          #   echo "ENVIRONMENT=${{ github.event.inputs.environment }}" >> $GITHUB_ENV
          # elif [[ "${{ github.ref }}" == "refs/heads/be/dev" ]]; then
          #   echo "PROFILE=dev" >> $GITHUB_ENV
          #   echo "ENVIRONMENT=dev" >> $GITHUB_ENV
          # elif [[ "${{ github.ref }}" == "refs/heads/be/prod" ]]; then
          #   echo "PROFILE=prod" >> $GITHUB_ENV
          #   echo "ENVIRONMENT=prod" >> $GITHUB_ENV
          # fi
          echo "PROFILE=dev" >> $GITHUB_ENV
          # echo "Deploying to $ENVIRONMENT environment with $PROFILE profile"

      - name: Get JAR file name
        id: jar-file
        run: |
          echo "Deploying to $ENVIRONMENT environment with $PROFILE profile"
          JAR_FILE=$(ls build/libs/*.jar | head -1)
          echo "JAR_FILE=$JAR_FILE" >> $GITHUB_ENV
          echo "JAR_NAME=$(basename $JAR_FILE)" >> $GITHUB_ENV

      - name: Transfer JAR via SCP
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          source: "backend/build/libs/*.jar"
          target: "/home/deploy/app/jar/"
          strip_components: 3
          overwrite: true

      - name: Deploy with Docker Compose
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            # echo "hi"